@import "tailwindcss";

@theme {
  --color-background: #F5F5F7;
  --color-primary: #A824F5;
  --color-secondary: #E021D1;

  --font-sans: "Inter", system-ui, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-slate-800 antialiased;
  }
}